<!doctype html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
    <title>Tasty Resto</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static '/images/logo_res.png' %}">
<!--<link rel="stylesheet" href="C:\Users\RAKESH\Desktop\project\menu.css">-->
<!--<link rel="stylesheet" href="C:\Users\RAKESH\Desktop\project\websitecss.css">-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style14.css'%}">
</head>
<body>
<header class="stickytop">
<div class="menu">
<img src="{% static '/images/logo_res.png' %}" style="width:100px;height:100px;margin-left:60px;"/>
<div class="menulist">
<nav>
<ul>
<form action="home" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Home"></li></form>

    <form action="menu" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Menu"></li></form>

 <form action="about" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="About"></li></form>
  <form action="rev" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Reservation"></li></form>
  <form action="gallery" method="post">
        {% csrf_token %}
        <li><input type="submit" value="Gallery"></li></form>
<!--<li>Pages
<ul class="sub">
 <form action="rev" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Reservation"></li></form>


 <form action="gallery" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Gallery"></li></form>
</ul>
</li>-->
 <form action="contact" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Contact"></li></form>
</ul>
</nav>
</div>
</div>
</header>
<div class="imgcnt">
<<img src="{% static '/images/contact.jpg' %}" style="width:100%;height:700px"/>
<div class="cnt">
<h2>Contact Us :) :)</h2>
</div>
</div>
<div class="cntin">
    <table class="contble">
        <td>
            <tr><input type="text" placeholder="Your Name" style="width:1200px;height:50px" required></input></tr><br><br>
            <tr><input type="text" placeholder="Your email" style="width:1200px;height:50px"></input></tr><br><br>
<tr><label for="cnts"></label>
<select id="cnts" name="revs" style="width:1210px;height:55px">
<option>Select No.of persons</option>
<option>01</option>
<option>02</option>
<option>03</option>
<option>04</option>
<option>05</option>
<option>Morethan 05</option>
</select></tr>
            <tr><textarea placeholder="Enter Your Feedback" style="width:1210px;height:80px"></textarea></tr>
            <tr><input type="button" value="Submit" style="width:200px;height:50px;color:red;margin-left:600px"></input></tr>
        </td>
    </table>
</div>
<div class="contact">
<ul>
<li><a href="#">phone<br>6384291339</a></li>
<li><a href="#">email<br>tasteyresto@gmail.com</a></li>
<li><a href="#">Location<br>Near Busstand,Hosur</a></li>
</ul>
</div>
</body>
<html>