<!doctype html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
    <title>Tasty Resto</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static '/images/logo_res.png' %}">
<!--<link rel="stylesheet" href="C:\Users\RAKESH\Desktop\project\menu.css">-->
<!--<link rel="stylesheet" href="C:\Users\RAKESH\Desktop\project\websitecss.css">-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style14.css'%}">
</head>
<body>
<header class="stickytop">
<div class="menu">
<img src="{% static '/images/logo_res.png' %}" style="width:100px;height:100px;margin-left:60px;"/>
<div class="menulist">
<nav>
<ul>
<form action="home" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Home"></li></form>

    <form action="menu" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Menu"></li></form>

 <form action="about" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="About"></li></form>
  <form action="rev" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Reservation"></li></form>
  <form action="gallery" method="post">
        {% csrf_token %}
        <li><input type="submit" value="Gallery"></li></form>
<!--<li><a href="#">Pages</a>
<ul class="dropcontent">
 <form action="rev" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Reservation"></li></form>


 <form action="gallery" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Gallery"></li></form>
</ul>
</li>-->
 <form action="contact" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Contact"></li></form>
</ul>
</nav>
</div>
</div>
</header>
<div class="drinks">
<img src="{% static '/images/drinks.jpg' %}" style="width:100%;height:700px"/>
    <div class="drinkstxt">
<h1>Drinks</h1>
</div>
</div>
<div class="splmenu">
<ul>
 <form action="menu" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="All"></li></form>
<form action="drinks" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Drinks"></li></form>
<form action="ice" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Icecream"></li></form>
<form action="food" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Food"></li></form>
</ul>
</div>

<div class="menutble">
<table cellpadding="10">
<tr>
<th>
<td><img src="{% static '/images/menu1.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/drinks1.jpg' %}"> </td>
</th>
<!--<th>
<td><img src="C:\Users\RAKESH\Desktop\project\menu3.jpg"/> </td>
</th>-->
<th>
<td><img src="{% static '/images/drinks2.jpg' %}"> </td>
</th>
</tr>
<tr>
<th>
<td><img src="{% static '/images/drinks3.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/drinks4.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/menu7.jpg' %}"> </td>
</th>
</tr>
<tr>
<th>
<td><img src="{% static '/images/drinks5.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/drinks6.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/menu10.jpg' %}"> </td>
</th>

</tr>
</table>
</div>
</body>
</html>