{% load static %}
<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
    <title>Tasty Resto</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static '/images/logo_res.png' %}">
<!--<link rel="stylesheet" href="C:\Users\RAKESH\Desktop\project\menu.css">-->
<!--<link rel="stylesheet" href="C:\Users\RAKESH\Desktop\project\websitecss.css">-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style14.css'%}">
<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 0}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

</head>
<body>
<header class="stickytop">
<div class="menu">
<img src="{% static '/images/logo_res.png' %}" style="width:100px;height:100px;margin-left:60px;"/>
<div class="menulist">
<nav>
<ul>
<form action="home" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Home"></li></form>

    <form action="menu" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Menu"></li></form>

 <form action="about" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="About"></li></form>
    <form action="rev" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Reservation"></li></form>
  <form action="gallery" method="post">
        {% csrf_token %}
        <li><input type="submit" value="Gallery"></li></form>
<!--<li>Pages
<ul class="sub">
 <form action="rev" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Reservation"></li></form><br><br>


 <form action="gallery" method="post">
        {% csrf_token %}
        <li><input type="submit" value="Gallery"></li></form>
</ul>
</li>-->
 <form action="contact" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="Contact"></li></form>
</ul>
</nav>
</div>
</div>
</header>

<img src="{% static '/images/restaurant2.jpg' %}" style="width:100%;height:750px"/><div class="imgbg">
</div></div></div>
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <h2>Experience the Flavors and Hospitality of our Restaurant..</h2>
    </div>
    <div class="flip-box-back">
     <!--<h1>Our Services</h1>
    <div class="btm1">
    <h3>Dine In</h3>
    </div>-->
     <img id="fi" src="{% static '/images/veg.png' %}"/>
     <img id="si" src="{% static '/images/spices.png' %}"/>
    </div>
</div>
</div>
<div class="pic2">
<img src="{% static '/images/pic2.jpg' %}" style="width:1520px;height:650px"/>
<div class="tbl">
<center>
<table>

<tr>
<th style="color:red">Days</th>
<th  style="color:red">Timings</th>
</tr>
<tr>
<td>Sunday</td>
<td>9:30-9:30</td>
</tr>
<tr>
<td>Monday</td>
<td>9:30-8:00</td>
</tr>
<tr>
<td>Tuesday</td>
<td>9:30-8:00</td>
</tr>
<tr>
<td>Wednesday</td>
<td>9:30-8:00</td>
</tr>
<tr>
<td>Thrusday</td>
<td>9:30-8:00</td>
</tr>
<tr>
<td>friday</td>
<td>9:30-8:00</td>
</tr>
<tr>
<td>Saturday</td>
<td>9:30-9:30</td>
</tr>
</table>
    </center>
</div>
</div>

<div class="spl">
<h1>Special Menu</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
</div>
<!--<div class="pleasecome">
<div class="container">
<img src="C:\Users\RAKESH\Desktop\project\menu1.jpg" alt="Menu" class="image">
<div class="overlay">
<div class="text">
<h6>Spcl Drink</h6>
<h6>₹120</h6>
</div>
</div>
</div>
<div class="container2">
<img src="C:\Users\RAKESH\Desktop\project\menu2.jpg" alt="Menu2" class="image2">
<div class="overlay2">
<div class="text2">
<h6>Burger</h6>
<h6>₹100</h6>
</div>
</div>
</div>
<div class="container3">
<img src="C:\Users\RAKESH\Desktop\project\menu3.jpg" alt="Menu3" class="image3">
<div class="overlay3">
<div class="text3">
<h6>Non-veg</h6>
<h6>₹350</h6>
</div>
</div>
</div>
<div class="container4">
<img src="C:\Users\RAKESH\Desktop\project\menu4.jpg" alt="Menu4" class="image4">
<div class="overlay4">
<div class="text4">
<h6>Meals</h6>
<h6>₹100</h6>
</div>
</div>
</div>
<div class="container5">
<img src="C:\Users\RAKESH\Desktop\project\menu5.jpg" alt="Menu5" class="image5">
<div class="overlay5">
<div class="text5">
<h6>Fish</h6>
<h6>₹400</h6>
</div>
</div>
</div>
<div class="container6">
<img src="C:\Users\RAKESH\Desktop\project\menu6.jpg" alt="Menu6" class="image6">
<div class="overlay6">
<div class="text6">
<h6>punjabi thali</h6>
<h6>₹250</h6>
</div>
</div>
</div>
<div class="container7">
<img src="C:\Users\RAKESH\Desktop\project\menu7.jpg" alt="Menu7" class="image7">
<div class="overlay7">
<div class="text7">
<h6>Drinks</h6>
<h6>₹110</h6>
</div>
</div>
</div>
<div class="container8">
<img src="C:\Users\RAKESH\Desktop\project\menu8.jpg" alt="Menu8" class="image8">
<div class="overlay8">
<div class="text8">
<h6>Biriyani</h6>
<h6>₹180</h6>
</div>
</div>
</div>
</div>
<div class="container9">
<img src="C:\Users\RAKESH\Desktop\project\menu9.jpg" alt="Menu9" class="image9">
<div class="overlay9">
<div class="text9">
<h6>Kulfi</h6>
<h6>₹80</h6>
</div>
</div>
</div>-->

<div class="splmenu">
<ul>
<form action="menu" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="All"></li></form>
<form action="drinks" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="drinks"></li></form>
<form action="ice" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="ice cream"></li></form>
<form action="food" method="post" >
        {% csrf_token %}
        <li><input type="submit" value="food"></li></form>
</ul>
</div>

<div class="menutble">
<table cellpadding="10">
<tr>
<th>
<td><img src="{% static '/images/menu1.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/menu2.jpg' %}"> </td>
</th>
<!--<th>
<td><img src="C:\Users\RAKESH\Desktop\project\menu3.jpg"/> </td>
</th>-->
<th>
<td><img src="{% static '/images/menu4.jpg' %}"> </td>
</th>
</tr>
<tr>
<th>
<td><img src="{% static '/images/menu5.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/menu6.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/menu7.jpg' %}"> </td>
</th>
</tr>
<tr>
<th>
<td><img src="{% static '/images/menu8.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/menu9.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/menu10.jpg' %}"> </td>
</th>

</tr>
</table>
</div>
<div class="gall">
<h1>Gallery</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
</div>
<div class="galltble">
<table cellpadding="10" >
<tr>
<th>
<td><img src="{% static '/images/gallery1.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/gallery2.jpg' %}">> </td>
</th>
<th>
<td><img src="{% static '/images/gallery3.jpg' %}"> </td>
</th>
</tr>
<tr>
<th>
<td><img src="{% static '/images/gallery4.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/gallery5.jpg' %}"> </td>
</th>
<th>
<td><img src="{% static '/images/gallery6.jpg' %}"> </td>
</th>
<th>
</tr>
</table>
</div>
<div class="custrew">
<h1>Customer Reviews</h1>
<div class="custimg">
<img src="{% static '/images/rew.jpg' %}">
</div>
</div>
<div class="slideshow-container">
<div class="mySlides">
<q>This  Tasty Resto has left the best impressions! Hospitable hosts, delicious dishes, beautiful presentation,<br>
wide wine list and wonderful dessert. I recommend to everyone! I would like to come back here again and again.</q>
<p class="cust">Gokul</p>
</div>

<div class="mySlides">
<q> First time in Tasty Resto and YOU have to go! It’s the cutest little spot with amazing food. The Tasty Resto is to die for.
IT WAS FIRE!!<br>The service we received was so amazing and we will definitely be back again.
They made us feel welcomed and gave us an amazing experience..</q>
<p class="cust">Rakesh</p>
</div>

<div class="mySlides">
<q>Do yourself a favor and visit this lovely restaurant in Tasty Resto. The service is unmatched.<br>
The staff truly cares about your experience.The food is absolutely amazing – everything we tasted melted in other mouthsHighly recommend!</q>
<p class="cust">Keerthi Rajan</p>
</div>
<div class="mySlides">
<q>This spot gives extraordinary service and yummy meals. One of my favourite restaurants around town.<br>
The meals served rapidly and the rates were reasonable. Highly recommended.</q>
<p class="cust">Uthra</p>
</div>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<div class="dot-container">
<span class="dot" onclick="currentSlide(1)"></span>
<span class="dot" onclick="currentSlide(2)"></span>
<span class="dot" onclick="currentSlide(3)"></span>
<span class="dot" onclick="currentSlide(4)"></span>
</div>

<div class="contact">
<ul>
<li><a href="#">phone<br>6384291339</a></li>
<li><a href="#">email<br>tasteyresto@gmail.com</a></li>
<li><a href="#">Location<br>Near Busstand,Hosur</a></li>
</ul>
</div>
<div class="end">
<img src="{% static '/images/end.jpg' %}" style="width:100%;height:450px"/>
</div>
<div class="footer">
<p>All Rights Reserved. © 2045 Tasty Resto Owned By: Rakesh S</p>
</div>
</body>
</html>